<!-- In your search.component.html -->
<h1>Search Spotify</h1>
<input [(ngModel)]="searchString">
<select [(ngModel)]="searchCategory">
  <option *ngFor="let category of searchCategories" [value]="category">{{ category }}</option>
</select>
<button class="btn btn-light" (click)="search()">Search</button>

<!-- Display a carousel component for artists -->
<app-carousel *ngIf="searchCategory === 'artist' && artistResources" [resources]="artistResources" carouselId="searchCarousel"></app-carousel>

<!-- Display a carousel component for albums -->
<app-carousel *ngIf="searchCategory === 'album' && albumResources" [resources]="albumResources" carouselId="searchCarousel"></app-carousel>

<!-- Display a track-list component for tracks -->
<app-track-list *ngIf="searchCategory === 'track' && trackResources" [tracks]="trackResources"></app-track-list>